* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto Condensed", sans-serif;
}

.page {
    background-color: #eeeeee;
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: flex-start;
    justify-content: center;
}

.page.certificate-page {
    justify-content: flex-start;
    align-items: center;
}

.form-container {
    max-width: 350px;
    padding: 40px 40px;
    border: 1px solid #f7f7f7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    border-radius: 2px;
    background-color: #F7F7F7;
    margin-top: 8vh;
}

.flex {
    display: flex;
}
.direction-column {
    flex-direction: column;
}

.logo-container {
    margin-bottom: 20px;
}

.logo-container .logo {
    display: flex;
    justify-content: center;
    width: 100%;
}
.logo-container .logo img {
    max-width: 130px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.flex.border-bottom {
    border-bottom: 1px solid #ddd;
}

.flex.border-bottom:first-child {
    border-top: 1px solid #ddd;
}

a.back-button {
    margin-bottom: 16px;
}